/*font-styles*/
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bahianita&display=swap');



:root{
    --primer-color:#CC4E53;
    --segundo-color:#8F5355;
    --tercer-color: #FA2D34;
    --cuarto-color: #614C4C;
    --quinto-color: #332a2a;

    --Font_Principal: 'Atma', sans-serif;
    --Font_Secundaria: 'Bahianita', cursive;
}
/*font-styles*/
/*Preajuste margenes*/
* {
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}
main{
flex: 0.95;
position: relative;
display: flex;
flex-direction: row;


}
/*Preajuste margenes*/
/*Estilo del código a_1*/
     /*Header style*/
.Foto_logo_header{
      width: 45px;
      margin-top: 10px;
      margin-right: 200px;
        
     }
     .Header_Style{
        background-color: var(--quinto-color);
        text-align: right;
        padding: 10px;
        display: flex;
        justify-content: space-evenly ;
        font-family: var(--Font_Principal);
        font-size: 1.5rem;
     }
     
     .links_header{
        color: white;
        text-decoration: none;
        margin: 70px;
        padding: 3px;
        margin-left: 10px;
     }
   body{
    background-color: var(--primer-color) ;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    
   }
   .main_edit{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
 
   }
   .img_guess_number{
      width: 50%;
      height: 100%;
      border-radius: 25%;
   }
   .button_style{
      font-family: var(--Font_Principal);
      font-size: 1.5rem;
      color: white;
      background-color: var(--tercer-color);
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      border: 2px solid var(--cuarto-color);
   }
   .titulo {
      font-family: var(--Font_Principal);
      font-size: 4rem;
      color: var(--cuarto-color);
   }
   .Escrito_label{
      font-family: var(--Font_Principal);
      font-size: 1.5rem;
      color: var(--cuarto-color);
   }
   .orden_input{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .section_edit{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .imput_style{
      font-family: var(--Font_Principal);
      font-size: 1.5rem;
      color: var(--cuarto-color);
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      border: 2px solid var(--cuarto-color);
   }
   .footer_edit{
      background-color: var(--quinto-color);
      text-align: center;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5rem;
     
   }
   .github_img{
      width: 10%;
      
   }
   .footer_edit {
      font-family: var(--Font_Principal);
      color: white;
      font-size: 1.5rem;
      
      
   }
.link_Joseth_git_hub{
   
   color:var(--tercer-color);
   font-size: 1.5rem;
   font-weight: 800;
}
.fotos_compartidas{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: row;
   width: 60%;
   margin-left: 5rem;
   margin-top: 3rem;
   margin-bottom: 3rem;
   border-radius: 1rem;
}
.parrafo{
   font-family: var(--Font_Principal);
   font-size: 1.5rem;
   color: white;
}
/*Estilo del código calculadora*/
.orden_input{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.orden_calculadora{
   display: flex;
   align-content: flex-end;
   justify-content: center;
   
}
.botones_calculadora{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   
}
.diseño_botones {
   font-family: var(--Font_Principal);
   font-size: 1.5rem;
   color: white;
   background-color: var(--tercer-color);
   padding: 13px;
   margin: 10px;
   border-radius: 10px;
   border: 2px solid var(--cuarto-color);
}

@media (max-width: 1200px){
   .Foto_logo_header{
      border-right: 2px;
   }
   .Header_Style{
      display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px
     
   }
   .imagenes_valen{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }
   #imagenes {
      
         display: flex;
         flex-direction: row;
         align-items: center;
   
      }
      .links_header{
         display: inline-block; /* Evita que se estiren al 100% */
         padding: 10px 15px;
         margin: 5px;
         border-radius: 10px;
         background-color: var(--tercer-color);
         color: white;
         text-decoration: none;
         text-align: center;
      }
      .main_edit{
         margin-top: 2rem;
         margin-bottom: 2rem;
         display: flex;
         flex-direction: column-reverse;
         align-items: center;
         justify-content: center;
      }
      .img_guess_number{
         width: 100%;
         height: 100%;
         border-radius: 25%;
      }
      .titulo {
         font-family: var(--Font_Principal);
         font-size: 2rem;
         color: var(--cuarto-color);
      }
      .Escrito_label{
         font-family: var(--Font_Principal);
         font-size: 1rem;
         color: var(--cuarto-color);
      }
      .orden_input{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
      .section_edit{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
      .imput_style{
         font-family: var(--Font_Principal);
         font-size: 1rem;
         color: var(--cuarto-color);
         padding: 10px;
         margin: 10px;
         border-radius: 10px;
         border: 2px solid var(--cuarto-color);
      }
      .footer_edit{
         background-color: var(--quinto-color);
         text-align: center;
         padding: 10px;
         display: flex;
         justify-content: space-evenly;
         font-size: 1rem;
        
      }
      .github_img{
         width: 10%;
         
      }
      .footer_edit {
         font-family: var(--Font_Principal);
         color: white;
         font-size: 1rem;
         
         
      }
      .link_Joseth_git_hub{
      
         color:var(--tercer-color);
         font-size: 1rem;
         font-weight: 800;
      }
      .fotos_compartidas{
         width: 50%;
       
      }
   
      .parrafo{
         font-family: var(--Font_Principal);
         font-size: 1rem;
         color: white;
      }
     
      
   }

    
   


   
    

     
  
